html {
				font-size: 100%;
				} 
body { 
			background-color:#ffe0f6;
				} 
#hoja { 
			  margin: auto; 
			  margin-top:30px;  
	background-color:#ffffff;
			  padding:1em; 
			  height:2000px; 
			  width:55%;
			  } 
h1    {
      float:center; 
      font-family:Arial,Verdana, Sans-
      serif;	 
      color:black; 
      margin:0em; 
      font-size:2em;	 
      text-align: center;	        
  background-color:#cfffa6;
      }				 
p     { 
				margin:10px; 
				margin-buttom:20px;
				font-family:Verdana, Sans-   
				serif, Arial;		 
				color:black; 
				text-align:justify;
			  }
#navegacion ul{ 
				margin:0; 
				padding: 0;	 
     background-color:#bbbbbb;
				} 
#hoja nav ul li{	 
				display: inline-block; 
				font-family:Verdana, Sans-
				serif, Arial;	 
				font-weight: bold;	 
	            background-color:#bbbbbb;
				padding: 10px; 
				float:center;
				font-size:1em;
			  } 
#abc #raw{
  background-color:gray;
}


#hoja nav ul li a{ 	    
	    font-size:20px;
	    color:black; 
				} 
#hoja nav ul li:hover{ 
				background-color:#44771F;	

				}
#ayuda{
				
				float:right;
				
				}
.articulo header h2,#menu header h2{ 
				font-family:Courier New,Verdana, Sans-
				serif, Arial;	 
			    background-color:#d9f4ff;
				color:black; 
				text-align:center; 
				margin:3px; 
				margin-top:10px;
				padding:20px;
				} 
.txt{ 
	    margin-top:10px;
        margin:10px;
        padding:10px;
	    background-color:#fff3db;
        color:black;
	    display:inline-block;
	    font-family:Sans-serif;
        float:left;
	    width:43%;
				}


/**ANIMACIONES XD**/
p{
-webkit-transition:all .9s ease; /*Safari y Chrome **/
width:100%;
}
p:hover{
background-color:black;
color:white;
-webkit-transform:scale(1.2);
transform:scale(1.2);
}



.footer{
				width:94%;
				color:black;
				margin-top:10px;
                padding:5px;
		 	    background-color: #e8ffe0;
				text-align:center;
				display:inline-block;
				font-family:Sans-serif;
				float:left;
				margin:10px;
				}
	
.imagenes{
				
	      display:inline-block;
	      height:110%;
	       margin:10px;
	       float:left;
	     /** background-color:yellow;**/
	      
				}
#menu{
		background-color:#d9f4ff;
			  width:28%;
			  height:100%;
				display:inline-block;
				float:right;
				margin:5px;
				margin-left:0;
				margin-top:25px;
				padding:10px;
				color:black;
				text-align:center;
				}
.conten{
				width:67%;
				float:left;
				margin-top:5px;
			/**	background-color:blue;**/
				}
figcaption{
       text-align:center;
       padding:11px;
       background-color:#ffbd66;
       font-family:Sans-serif;
}
.articulo{
				display:inline-block;
				float:center;
				margin:10px;
}
#menu header h2{
text-align: left;
padding: 0;

}